<% if resource.errors.any? %>
  <div class="col-12 my-3" id="error_explanation">
    <ul class="list-group">
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-decoration-none alert alert-danger alert-dismissible fade show"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
